<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mapper.UserMapper">

    <insert id="addUser">
        insert into tbl_user (username, password, account)
        values (#{username}, #{password}, #{account});
    </insert>
    <select id="selectAll" resultType="com.server.pojo.User">
        select id, username, account, login
        from tbl_user;
    </select>
    <select id="selectByAccountNumberAndPasswordUser" resultType="com.server.pojo.User">
        select *
        from tbl_user
        where account = #{account}
          and password = #{password};
    </select>
</mapper>
