<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.server.pojo.User">
        <!--
            id 是主键字段映射
            result 用来写普通字段映射
                column是表的列名   property是映射的对应的类的属性名
        -->
        <result column="account_number" property="accountNumber"/>
    </resultMap>

    <insert id="addUser">
        insert into tbl_user (username, password, account_number)
        values (#{username}, #{password}, #{accountNumber});
    </insert>
    <select id="selectAll" resultMap="userResultMap">
        select * from tbl_user;
    </select>
    <select id="selectbyAccountNumberAndPasswordUser" resultMap="userResultMap">
        select *
        from tbl_user
        where account_number=#{accountNumber} and password=#{password};
    </select>
</mapper>
