.dev-fx-window {
    -fx-background-color: #00000000;
    -fx-pref-width: 100%;
    -fx-pref-height: 30;
}

.dev-fx-window-min {
    -fx-background-color: #00000000;
    -fx-font-size: 11;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 55;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.dev-fx-window-min:hover {
    -fx-background-color: #4cc5e8;
    -fx-text-fill: white; /* 字体颜色 */
}

.dev-fx-window-close {
    -fx-background-color: #00000000;
    -fx-font-size: 11;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 55;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

.dev-fx-window-close:hover {
    -fx-background-color: #e81123;
    -fx-text-fill: white; /* 字体颜色 */
}

.error-text {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-font-family: "Microsoft YaHei";
}


#userListView {
    -fx-background-color: #ffffff;
    -fx-border-width: 0;
}


#userListView .list-cell:selected {
    -fx-background-color: #6ae4ff;
    -fx-hbar-policy: never;
}

#userListView .list-view {
    -fx-hbar-policy: nerver;
}

#userListView {
    -fx-background-color: white;
    -fx-hbar-policy: nerver;
}

#userName {
    -fx-font-style: white;
}